
    .main-header{
        width:100%; height:3.5rem;background-color: blueviolet;
        padding: 1.5rem;
    }
    body{
        padding: 0; margin:0;
    }
    .main-header_item-list{
        list-style: none; padding: 0; margin:0; display:flex;
    }
    .main-header-item{
        padding: 0 1rem; margin:0;
    }
    .main-header-item a{
        text-decoration: none; color:aqua;
    }
    .main-header_nav{
        height:100%;display:flex;align-items:center;
    }
    .main-header-item a:hover,
    .main-header-item a:active{
        color:yellowgreen;
    }
    main{
        padding: 1 rem;
    }
    .form-control label,
    .form-control input{
        display:block
    }
    .form-control input{
        border:1px solid yellow;
        font:inherit;
        border-radius: 2px;
        width:100%
    }
    button{
        font:inherit;
        border:1px solid black;
        background: white;
        border-radius:3px;
        cursor:pointer;
    }
    button:hover,
    button:active{
        background-color: grey;
    }
    